actipy==0.0.3
asttokens==2.0.5
autopep8==1.6.0
backcall==0.2.0
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
entrypoints==0.4
executing==0.9.1
flake8==5.0.3
fonttools==4.34.4
hmmlearn==0.2.7
imbalanced-learn==0.9.1
imblearn==0.0
ipykernel==6.15.1
ipython==8.4.0
jedi==0.18.1
joblib==1.1.0
JPype1==1.3.0
jupyter-client==7.3.4
jupyter-core==4.11.1
kiwisolver==1.4.4
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.7.0
nest-asyncio==1.5.5
numpy==1.23.1
packaging==21.3
pandas==1.4.3
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.0
pyflakes==2.5.0
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
pyzmq==23.2.0
scikit-learn==1.1.1
scipy==1.9.0
six==1.16.0
stack-data==0.3.0
statsmodels==0.13.2
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
wcwidth==0.2.5
