name: cwa

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:

  prepare-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          cache: 'pip'
          cache-dependency-path: setup.py
      - name: Install dependencies
        run: |
          set -e
          python -m pip install --upgrade pip
          python -m pip install -e .  # install as editable to locate the torch hub cache more easily

      # Perform a run to cache the torch hub repo and download the model files (SSL)
      - name: Smoke test
        run: stepcount tests/data/nano-sample.csv.gz

      # Perform a run to download the model files (RF)
      - name: Smoke test (RF)
        run: stepcount tests/data/nano-sample.csv.gz -t rf

      - name: Upload model joblib files
        uses: actions/upload-artifact@v4
        with:
          name: model-files
          path: src/stepcount/*.joblib.lzma  # our model files have the extension .joblib.lzma

      - name: Upload torch_hub_cache
        uses: actions/upload-artifact@v4
        with:
          name: torch_hub_cache
          path: src/stepcount/torch_hub_cache

  cwa:
    needs: prepare-artifacts
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          set -e
          python -m pip install --upgrade pip
          python -m pip install -e .  # install as editable to locate the torch hub cache more easily

      - name: Download model files
        uses: actions/download-artifact@v4
        with:
          name: model-files
          path: src/stepcount

      - name: Download torch_hub_cache
        uses: actions/download-artifact@v4
        with:
          name: torch_hub_cache
          path: src/stepcount/torch_hub_cache

      - name: Smoke test, nano-sample.csv.gz
        run: stepcount tests/data/nano-sample.csv.gz

      - name: Smoke test, tiny-sample.cwa.gz
        run: stepcount tests/data/tiny-sample.cwa.gz

      - name: Smoke test, nano-sample.csv.gz (RF)
        run: stepcount tests/data/nano-sample.csv.gz -t rf

      - name: Smoke test, tiny-sample.cwa.gz (RF)
        run: stepcount tests/data/tiny-sample.cwa.gz -t rf
